.main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    margin-bottom: 10px;
    margin-left: 180px;
    border: 2px solid rgb(233, 226, 226);
    border-radius: 10px;
}

.miu-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}