.main-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(184, 176, 176);
    border-radius: 10px;
    width: 90vw;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    /* border: 2px solid red; */
}

.title-text {
    width: 90%;
    height: 100%;
    text-align: left;
}


.pin-icon {
    width: 10%;
    height: 100%;
    filter: invert(40%);
}

input {
    font-size: 15px;
    text-align: left;
    border: none;
    outline: none;
}

.description-text {
    height: 40%;
    width: 100%;
    text-align: left;
    /* border: 2px solid red; */
}

textarea {
    border: none;
    font-size: 14px;
    outline: none;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.miu-icons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    filter: invert(40%);
}

.close-button {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

#submit-button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 30px;
}
/* @media (max-width:768px){
    .main-container {
        margin: 100px 0px 30px;
    }
    .main-contents {
    width: 50vw;
    height: 10vh;
    }
} */