.middle-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    /* border: 2px solid red; */
    margin-left: 200px;
}

.toggle-takenotes {
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
}

.toggle-grid {
    width: 100%;
    height: auto;
}

.grid-view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .grid-view {
        display: flex;
        justify-content: space-between;
        width: 75vw;
        flex-wrap: wrap;
    }
}