.toggle-grid {
    /* border: 2px solid black; */
    width: 75vw;
    position: relative;
    left: 200px;
    /* padding: 10px; */
}

.grid-view {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 2; */
    padding: 0;
}

@media (max-width: 768px) {
    .toggle-grid {
        width: 75vw;
        position: relative;
        left: 400px;
    }

    .grid-view {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}