.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* border:1px solid black; */
}

.inside-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid whitesmoke;
    width: 60%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

form {
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
}

.imgbox {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid black; */
}

#image {
    width: 25%;
    height: 40px;
    /* border: 2px solid rgb(218, 14, 14); */

}

.image-container {
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
}

#image1 {
    width: 60%;
    height: 35%;
    padding-top: 100px;
    /* border:1px solid black; */
}

.top-text {
    font-size: 20px;
    font-weight: 5px;
    /* padding-left: 15px; */
    padding-bottom: 15px;
    /* border:1px solid black; */
}

#right-text {
    font-Size: 14px;
    padding-left: 20px;
    /* border:1px solid black; */

}

.middle-text {
    color: purple;
    font-Size: 17;
    padding-bottom: 20px;
    /* border:1px solid black; */
    text-align: left;
}

#middtxt {
    font-Size: 12px;
    text-Align: left;
    /* border:1px solid black; */
}

#signin-txt {
    /* color: blue; */
    text-Align: left;
    font-Size: 13px;
    /* border:1px solid black; */
}

.checkbx {
    padding-left: 20px;
}

label {
    padding-left: 5px;
    font-size: 13px;
}

@media (max-width: 820px) {
    .image-container {
        display: none;
        width: 0;
    }

    form {
        height: 100%;
        width: 100%;
        /* border: 2px solid red; */
    }

    .main-container {
        height: 120vh;
        width: 100vw;
        /* border:1px solid black; */
    }
    
    .inside-main {
        height: 100%;
        width: 50%;
    }
}